$green: #09630B;
$black: #2A2A2A;

html,body,#root,.App {
	height: 100%;
	color: white;
	position: relative;
}

nav {
	position: absolute;
	left:0;
	right:0;
	top:0;
	background-color: $green;
	padding: 1%;
}

#game {
	margin: 1%;
	height: 73.5%;
	background-color: #585a5b;
	border: 5px solid (#585a5b * .80);
	border-radius: 5px;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	#title {
		text-align: center;
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 24px;
	}
	#hud {
		background-color: #e99e38;
		padding: 0.5%;
		border: 3px solid #b0743b;
		border-radius: 5px;
		margin: 10px 10% 10px 10%;
		display: flex;
		justify-content: space-between;
		.hudElement {
			display: inline-block;
			border: 3px solid #b0743b;
			border-radius: 5px;
			width: percentage(1/5);
			text-align: center;
		}
	}
	#visible {
		background-color: $black;
		border: 5px solid $black;
		border-radius: 5px;
		position: absolute;
		padding: 10px;
		left: 5%;
		right: 5%;
		top: 20%;
		bottom: 3%;
		.row {
			display: flex;
			$square: percentage(1/20);
			height: $square;
			width: 65%;
			max-width: 600px;
			margin: 0 auto;
			.cell {
				width: $square;
				height: 100%;
			}
			.floor,.door {
				background-color: #8e766a;
			}
			.empty {
				background-color: #7e8779;
			}
			.p {
				background-color: blue;
			}
			.m {
				background-color: red;
			}
			.w {
				background-color: gold;
			}
			.f {
				background-color: green;
			}
			.s {
				background-color: purple;
			}
			.b {
				background-color: white;
			}
		}
	}
	#endgame {
		margin-top: 10%;
		text-align: center;
		font-size: 3em;
		.btn {
		  -webkit-border-radius: 5;
		  -moz-border-radius: 5;
		  border-radius: 5px;
		  font-family: Arial;
		  color: #ffffff;
		  font-size: 20px;
		  background: #d93442;
		  padding: 8px 20px 10px 20px;
		  text-decoration: none;
		}

		.btn:hover {
		  background: #d60b0b;
		  text-decoration: none;
		}
	}
	@media screen and (max-width: 600px) {
		#hud {
			font-size: 12px;
			margin: 5px 10% 10px 10%;
		}
		#visible {
			.row {
				margin-left: 2.5%;
				margin-right: 2.5%;
				width: 95%;
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: $green;
	padding: 0.75%;
	#signature {
		font-size: 14px;
		margin-bottom: 0;
	}
	#credit {
		font-size: 10px;
	}
	a {
		text-decoration: none;
	}
}

@media screen and (orientation: landscape) and (max-width: 750px) {
	nav {
		padding: 0.5%;
	}
	#game {
		top: 12%;
		height: 70%;
		#title {
			font-size: 16px;
			margin: 0;
		}
		#hud {
			margin: 3px 10% 3px 10%;
			font-size: 12px;
		}
		#visible {
			padding: 0;
			top: 26%;
			left: 25%;
			right:25%;
		}
	}
	footer {
		padding: 0.30%;
		#signature {
			font-size: 10px;
		}
		#credit {
			font-size: 6px;
		}
	}
}